<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Search</h4>
      <input
        type="text" ng-model="vm.card"
        typeahead="card as card.Name for card in vm.cardNameIdSetObj | filter:{Name:$viewValue} | limitTo:8"
        typeahead-template-url="typeaheadTemplate.html"
        typeahead-on-select="vm.onSelect()"
        class="form-control" autofocus="1"
      />
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col-md-3">
      <img class="img-rounded img-responsive" ng-src={{vm.imgsrc}} alt="{{vm.cardInfo.ImageName}}" />
    </div>
    <div class="col-md-5" ng-if="vm.card">
      <h4>{{vm.cardInfo.Name}}</h4>
      <div class="row text-right" ng-repeat="cardAttribute in vm.cardAttributes" ng-if="vm.cardInfo[cardAttribute[0]]">
        <div class="col-md-3">
            <span ng-if="cardAttribute.length <= 1">{{cardAttribute[0]}}:</span>
            <span ng-if="cardAttribute.length > 1">{{cardAttribute[1]}}:</span>
        </div>
        <div class="col-md-9 text-left">
          {{vm.cardInfo[cardAttribute[0]]}}
        </div>
      </div>
      <div class="row text-right" ng-repeat="setAt in vm.setAttributes" ng-if="vm.setInfo[setAt[0]]">
        <div class="col-md-3">
            <span ng-if="setAt.length <= 1">{{setAt[0]}}:</span>
            <span ng-if="setAt.length > 1">{{setAt[1]}}:</span>
        </div>
        <div class="col-md-9 text-left">
          {{vm.setInfo[setAt[0]]}}
        </div>
      </div>

    </div>
  </div>

</div>
<script type="text/ng-template" id="typeaheadTemplate.html">
  <a>
    <span bind-html-unsafe="match.label | typeaheadHighlight: query"></span>
    <span><small>| <em>{{match.model.SetModel.Name}}</em></small></span>
  </a>
</script>
