<div class="container">

  <div class="row top-buffer">
    <div class="col-md-3">
      <img class="img-rounded img-responsive" ng-src={{vm.imgsrc}} alt="{{vm.cardInfo.ImageName}}" />
    </div>

    <div class="col-md-9">
      <h4>{{vm.cardInfo.Name}}</h4>
      <div class="row text-right" ng-repeat="cardAttribute in vm.cardAttributes" ng-if="cardAttribute[1]">
        <div class="col-md-3">
          <span>{{cardAttribute[0]}}:</span>
        </div>
        <div class="col-md-9 text-left" ng-switch on="cardAttribute[0]">
          <span ng-switch-when="Mana Cost">
            <img ng-repeat="symbol in cardAttribute[1]" ng-src="{{symbol}}" style="width: 16px; height: 16px;">
          </span>
          <span ng-switch-when="Printings">
            <button ng-repeat="printing in cardAttribute[1]" class="btn btn-default" ng-click="vm.otherPrinting(printing)">
              {{printing}}
            </button>
          </span>
          <span ng-switch-default>
            {{cardAttribute[1]}}
          </span>
        </div>
      </div>

    </div>
  </div>

</div>
